.langCtrl {
  &.active {
    svg {
      transform: rotate(-90deg);
    }
  }

  &:not(.active) {
    svg {
      transform: rotate(90deg);
    }

    & + .langBd {
      max-height: 0 !important;
    }
  }
}
