<%- require('component/mPageHeader.ejs')({
  title: urlFuns.name('deposit', 'transaction'),
  href: urlFuns.page('deposit', 'transaction')
}) %>
<div class="mt-24 px-12 overflow-hidden">
  <ul class="-m-8 flex flex-wrap">
    <%
      datas = [{
        title: urlFuns.name('deposit', 'deposit'),
        href: urlFuns.page('deposit', 'deposit'),
        icon: 'money'
      }, {
        title: urlFuns.name('deposit', 'withdrawal'),
        href: urlFuns.page('deposit', 'withdrawal'),
        icon: 'cash'
      }, {
        title: urlFuns.name('deposit', 'history'),
        href: urlFuns.page('deposit', 'history'),
        icon: 'way'
      }]
    -%>
    <% for( let i = 0; i < datas.length; i += 1 ) { -%>
      <% const { title, href, icon } = datas[i]; -%>
      <li class="p-8 w-1/2">
        <a href="<%- href %>" class="px-12 py-20 rounded-8 border-1 border-solid border-x3368 bg-x1241 flex flex-col-reverse items-center justify-center">
          <h3 class="mt-8">
            <b class="text-14"><%- title %></b>
          </h3>
          <%- require('component/svg.ejs')({
            style: {
              main: 'w-40 h-40 text-x88a1'
            },
            svgName: icon
          }) %>
        </a>
      </li>
    <% } -%>
  </ul>
</div>