<%- require('component/mBanner.ejs')({
  isMobile: isMobile
}) %>
<div class="mt-48 max-cnt overflow-hidden">
  <ul class="-mx-8 -my-12 flex items-center flex-wrap">
    <%
      const spoets = [{
        title: 'LIVE BACCARAT',
        img: 'http://file.32828a.com/images/DELUXEWIN/52707f72e1fe1460eb3e9f05c2422fac_4352182.jpg'
      }, {
        title: 'LIVE ROULETTE',
        img: 'https://afbasia.com/wp-content/uploads/2021/06/online-live-casino-game2.jpg'
      }, {
        title: 'LIVE SIC BO',
        img: 'https://i.pinimg.com/originals/14/07/90/1407905c29589645ec6c129532d51bb3.png'
      }, {
        title: 'LIVE DRAGON TIGER',
        img: 'http://mvp168th.com/images/dragon-tiger.jpg'
      }]
    -%>
    <% for( let i = 0; i < spoets.length; i += 1 ) { -%>
      <% const { title, img } = spoets[i]; -%>
      <li class="px-8 py-12 w-4/12">
        <a href="javascript:;" class="m-list bg-x1241 rounded-8 hover:bg-x3368 flex flex-col-reverse transition-bg overflow-hidden">
          <h2 class="p-16 text-16 text-center"><%- title %></h2>
          <div class="relative">
            <%- require('component/img.ejs')({
              style: {
                main: 'left-1/2 w-2full h-226 text-center translate-x-1/2 relative',
                img: 'w-auto h-full inline-block'
              },
              path: img,
              alt: title
            }) %>
            <div class="m-list-ctrl top-0 left-0 w-full h-full bg-x001e-80 flex flex-col items-center justify-center transition-opacity absolute z-1">
              <span class="px-8 py-8 inline-block rounded-16 bg-x3c6e">
                <b class="px-10 block">PLAY NOW</b>
              </span>
            </div>
          </div>
        </a>
      </li>
    <% } -%>
  </ul>
</div>