<div class="referral py-80">
  <div class="referral-bd mx-auto w-650">
    <div class="qrcode py-32 bg-x3368 rounded-8">
      <%- require('component/img.ejs')({
        style: {
          main: 'mx-auto w-170 h-170 bg-xf rounded-8',
          img: 'w-full h-full'
        },
        path: 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/QRcode_image.svg/440px-QRcode_image.svg.png',
        alt: 'qrCode'
      }) %>
    </div>
    <div class="mt-32"></div>
  </div>
</div>