.m-box {
  &:not(.\-\-show) {
    transition: width 0s var(--anim-time), height 0s var(--anim-time), opacity var(--anim-time) 0s;

    @apply w-0 h-0 opacity-0;
  }

  &.\-\-show {
    transition: width 0s, height 0s, opacity var(--anim-time);
  }
}

.m-box-tools {
  top: 8px;
  right: 8px;
}
