.m-form-type {
  line-height: 16px;
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  transition: border-color var(--anim-time);

  @apply text-14;

  &::placeholder {
    @apply text-x88a1 opacity-100;
  }

  &:not([type="textarea"]):not([type="checked"]):not([type="radio"]) {
    @apply h-32;
  }

  &:not([type="checked"]):not([type="radio"]):not(select) {
    @apply p-6;
  }

  &:not([type="checked"]):not([type="radio"]) {
    @apply border-2 border-solid border-transparent;
  }

  &[type="checked"],
  &[type="radio"] {
    @apply sr-only;

    & + * {
      transition: border-color var(--anim-time);

      @apply px-24 py-10 h-40 rounded-3 block border-2 border-solid border-transparent overflow-hidden relative;

      &::before {
        content: "";
        border-radius: 50%;
        background: #31c46e url(common/checked.svg) no-repeat 6px 20px;
        background-size: 10px 10px;
        transform: translate(50%, -50%);
        transition: opacity var(--anim-time);

        @apply top-0 right-0 w-36 h-36 opacity-0 absolute;
      }
    }

    &:checked {
      & + * {
        @apply border-x3c6e;

        &::before {
          @apply opacity-100;
        }
      }
    }
  }
}

.m-form-item {
  @apply -m-8 overflow-hidden;
}

.m-form-elem {
  @apply m-8 rounded-5 items-center overflow-hidden;

  &:not(label) {
    @apply flex;

    > *:not(.m-form-type) {
      @apply p-8;
    }
  }

  &.\-\-bg {
    @apply bg-x1241 text-xf;

    .m-form-type {
      @apply bg-transparent;
    }

    select.m-form-type {
      background-image: url(common/arrow_white.svg);
    }
  }

  &:not(.\-\-bg) {
    @apply bg-xf text-x88a1;

    .m-form-type {
      @apply bg-xf;
    }

    select.m-form-type {
      background-image: url(common/arrow_black.svg);
    }
  }

  &.\-\-error {
    .m-form-type {
      border-color: #ff265c !important;
    }
  }

  &.\-\-success {
    .m-form-type {
      border-color: #31c46e !important;
    }
  }
}

input {
  &:not([type="checked"]):not([type="radio"]) {
    &.m-form-type {
      @apply rounded-3 flex-grow w-full;

      &:focus {
        @apply border-xa9ff;
      }
    }
  }
}

label.m-form-elem {
  @apply inline-block cursor-pointer;
}

select.m-form-type {
  @apply py-6 pl-6 pr-32 rounded-3;

  option {
    @apply text-x0;
  }
}

.m-form-select {
  &:not(.active) {
    .m-form-select-bd {
      max-height: 0 !important;
    }
  }

  &.\-\-bg {
    .m-form-select-hd {
      @apply bg-x1241 text-xf;

      &::after {
        border-top-color: #8486a1;
      }
    }
  }

  &:not(.\-\-bg) {
    .m-form-select-hd {
      @apply bg-xf text-x88a1;

      &::after {
        border-top-color: #000;
      }
    }
  }
}

.m-form-select-hd {
  @apply py-8 px-6 text-14 w-full text-left flex items-center rounded-3 cursor-pointer;

  &::after {
    content: "";
    border-width: 6px 4px 0 4px;
    border-color: transparent;

    @apply mr-4 ml-12 w-0 h-0 border-solid block flex-shrink-0;
  }

  > * {
    @apply flex-grow;
  }
}

.m-form-select-item {
  &.active {
    > * {
      @apply bg-x88a1;
    }
  }

  > * {
    @apply px-16 py-8;
  }
}

.m-form-error {
  @apply pt-5 text-12 block text-xf25c;
}

.m-form-select-bd {
  transform: translateX(5px);

  @apply text-14 z-2;
}

.m-form-select-cnt {
  box-shadow: 0 3px 12px 0 rgba(#000, 0.5);

  @apply py-8;

  &::before {
    content: "";
    right: 13px;
    border-width: 0 7px 8px 7px;
    border-color: transparent transparent #393c68 transparent;
    transform: translateY(-100%);

    @apply top-0 w-0 h-0 border-solid absolute;
  }
}
