.m-nav-sub {
  box-shadow: 0 2px 8px 0 rgba(#000, 0.3), 0 2px 8px 0 rgba(#000, 0.3) inset;
}

.m-nav-item {
  &.active {
    @apply text-xfb2e;

    > a {
      &::before {
        content: "";

        @apply bottom-0 left-0 w-full h-4 bg-xfb2e absolute;
      }
    }
  }

  &:hover {
    > .m-nav-sub {
      max-height: 200%;
    }
  }

  &:not(:hover) {
    > .m-nav-sub {
      max-height: 0;
    }
  }
}
