.m-notice-bd {
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background: url(common/notice.svg) no-repeat center center;
    background-size: auto 100%;

    @apply px-16 box-content block flex-shrink-0;
  }
}

.m-notice-time {
  &::before {
    content: "";
    width: 1px;
    height: 80%;
    transform: translateY(-50%);

    @apply top-1/2 left-0 bg-x3368 absolute;
  }
}
