
.l-nSup {
  @apply w-full h-full hidden relative;
}

.m-nSup {
  @apply w-full table-cell align-middle text-center relative;
}

.m-nSup-hd {
  @apply mb-48;
}

.m-nSup-title {
  @apply text-24 text-x0;
}

.m-nSup-msg {
  @apply mb-28 px-20 pt-10 pb-20 inline-block border-1 border-x9 rounded-10;
}

.m-nSup-msg-title {
  width: 100px;

  @apply mx-auto -mt-28 -mb-10 px-5 text-20 text-xf block rounded-20 bg-x76 relative;
}

.m-nSup-item {
  @apply mt-20 text-left;
}

.m-nSup-item-title {
  @apply mb-5 pl-5 text-x45 border-l-1 border-x45 leading-none;
}

.m-nSup-item-cnt {
  @apply pl-8 text-15 text-x76;
}

.m-nSup-fig-list {
  > ul {
    @apply inline-block overflow-hidden;

    > li {
      width: width('n-sup/chrome.png');

      @apply mx-20 float-left;
    }
  }
}

.m-nSup-fig {
  @apply text-x0 block;

  &::before {
    content: "";
    height: height('n-sup/chrome.png');

    @apply w-full block bg-no-repeat bg-center;
  }

  &.\-\-chrome {
    &::before {
      background-image: url('n-sup/chrome.png');
    }
  }

  &.\-\-firefox {
    &::before {
      background-image: url('n-sup/firefox.png');
    }
  }

  &.\-\-edge {
    &::before {
      background-image: url('n-sup/edge.png');
    }
  }
}

.m-nSup-ft {
  @apply mt-48 text-x0;
}

.m-nSup-desc {
  @apply mt-14 text-15 text-x76;
}

.m-nSup-copyright {
  font-size: 0;

  @apply my-10;

  em,
  i {
    @apply not-italic;
  }

  > p {
    @apply px-5 text-13;
  }
}

.m-nSup-browser {
  @apply mt-5;
}

@screen notsupport {
  html,
  body {
    background-color: #ddd !important;

    @apply h-full;
  }

  .l-wrap {
    @apply hidden;
  }

  .l-nSup {
    word-wrap: break-word;

    @apply table table-auto break-all;
  }
}
