<div class="m-banner relative">
  <ul class="m-banner-list whitespace-no-wrap overflow-hidden inline-space jTns" :set="{'controls': false,'autoplay': true, 'autoplayTimeout': 8000, 'autoplayHoverPause': true, 'prevElem': '.jBannerPrev', 'nextElem': '.jBannerNext'}">
    <%
      const banner = [{
        img: 'https://api2-mj3.tr8ngames.com/images/id_cbd_dc228c70-ba22-49fb-9606-568eaeb20217_1618915724997.jpg'
      }, {
        img: 'https://api2-mj3.tr8ngames.com/images/id_cbd_5308cccf-8870-4ffc-8791-53d8593a537d_1618919012320.jpg'
      }, {
        img: 'https://api2-mj3.tr8ngames.com/images/id_cbd_07e22c9e-935f-4692-b336-8ab43fc04888_1621928172590.jpg'
      }];
    -%>
    <% for( let i = 0; i < banner.length; i += 1 ) { -%>
      <% const { img } = banner[i]; -%>
      <li class="m-banner-item w-full h-480 inline-block overflow-hidden jTnsItem">
        <a href="javascript:;" class="w-full h-full block">
          <%- require('component/img.ejs')({
            style: {
              main: 'left-1/2 w-2full h-full text-center translate-x-1/2 relative',
              img: 'w-auto h-full inline-block'
            },
            path: img,
            alt: 'banner'
          }) %>
        </a>
      </li>
    <% } -%>
  </ul>
  <% if (!isMobile) { -%>
    <div class="m-banner-controls">
      <button type="button" class="m-banner-prev top-1/2 w-48 h-48 bg-x0-50 rounded-48 absolute translate-y-1/2 jBannerPrev">
        <%- require('component/svg.ejs')({
          style: {
            main: 'mx-auto w-32 h-32'
          },
          svgName: 'arrow_chevron_left'
        }) %>
      </button>
      <button type="button" class="m-banner-next top-1/2 w-48 h-48 bg-x0-50 rounded-48 absolute translate-y-1/2 jBannerNext">
        <%- require('component/svg.ejs')({
          style: {
            main: 'mx-auto w-32 h-32'
          },
          svgName: 'arrow_chevron_right'
        }) %>
      </button>
    </div>
  <% } -%>
</div>