<div class="m-page-header px-48 h-56 flex items-center justify-center bg-x0030 relative">
  <h2 class="text-16"><b><%- title %></b></h2>
  <a href="<%- href %>" class="m-page-back-url top-1/2 w-24 h-24 flex items-center justify-center text-x88a1 absolute translate-y-1/2">
    <%- require('component/svg.ejs')({
      svgName: 'arrow_chevron_left'
    }) %>
  </a>
</div>